.statistikaPage {
    padding: 20px;
    max-width: 900px; 
    margin: 0 auto;
}

.chart-wrapper {
  background-color: var( --bg-secondary);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

.chart-wrapper h2 {
  color: var(--text-primary);
  font-size: 18px;
  margin-bottom: 10px;
}

.statistics-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.statistics-container h1 {
  margin-bottom: 10px;
}

.top5-wrapper {
  margin-top: 30px;
  background: v;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top5-wrapper h2 {
  margin-bottom: 15px;
}

.top5-table {
  width: 100%;
  border-collapse: collapse;
}

.top5-table thead tr {
  background-color: var( --bg-secondary);
}

.top5-table th {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 2px solid var( --bg-secondary);
  font-weight: bold;
  color: var(--text-primary);
}

.top5-table td {
  padding: 10px 15px;
  border-bottom: 1px solid var(--bg-card);
  color: var(--text-secondary);
}

.top5-table tbody tr:nth-child(even) {
  background-color: var(--bg-card);
}

.top5-table tbody tr:nth-child(odd) {
  background-color: var(--bg-card);
}