.vehicle-card {
  background-color: var(--bg-card);;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  color: var(--text-primary);
}

.vehicle-card:hover {
  transform: translateY(-5px);
}

.vehicle-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color:var(--text-primary);
}

.vehicle-card p {
  font-size: 1.2rem;
  margin: 5px 0;
}
